.label-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.alerta {
    line-height: 3;
    background-color: #F7D1D7;
    box-sizing: border-box;
    padding: 0 8px;
    color: rgba(0, 0, 0, .4);
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
}