<div class="ui-g">
    <div class="ui-g-6 ui-g-offset-3">
      <p-panel header="Iniciar Sesión">
        <form #formLogin="ngForm" (ngSubmit)="submitIniciarSesion(formLogin)">
          <div class="ui-g">
            <div class="ui-g-5 label-flex">
              <label for="" class="label">Correo Electronico</label>
            </div>
            <div class="ui-g-7">
              <input [(ngModel)]="usuario.correo" #correo="ngModel" name="correo" type="email" pInputText size="40" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-7 ui-g-offset-5" *ngIf="correo.touched && !correo.valid">
              <span *ngIf="correo.errors.required">El correo electronico es requerido.</span>
              <span *ngIf="correo.errors.pattern">El correo electronico debe ser valido.</span>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-5 label-flex">
              <label for="" class="label">Contraseña</label>
            </div>
            <div class="ui-g-7">
              <input [(ngModel)]="usuario.password" #password="ngModel" name="password" type="password" pInputText size="40" required minlength="10"/>
            </div>
          </div>
          <div class="ui-g">
              <div class="ui-g-7 ui-g-offset-5" *ngIf="password.touched && !password.valid">
                <span *ngIf="password.errors.required">La contraseña es requerida.</span>
                <span *ngIf="password.errors.minlength">La contraseña debe tener un minimo de 10 caracteres.</span>
              </div>
            </div>
          <div class="ui-g">
            <div class="ui-g-7 ui-g-offset-5">
              <button pButton type="submit" icon="pi pi-sign-in" label="Ingresar"></button>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
</div>
