*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a, span {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 3.5em;
    display: inline-block;
    padding: 0 24px;
    cursor: pointer;
}

a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #FFFFFF;
}

span {
    cursor: default;
}
