<nav>
    <ul>
        <li><span>Sistema de Vehículos</span></li>
        <li>
            <a (click)="onClickCerrarSesion()">
                <i class="pi pi-sign-out"></i> Cerrar Sesión
            </a>
        </li>
    </ul>
</nav>
