<div class="ui-g">
  <div class="ui-g-12 p-0">
    <app-navegacion></app-navegacion>
  </div>
</div>
  
<div class="ui-g">
  <div class="ui-g-10 ui-g-offset-1">
    <p-panel header="Administración">
      <app-vehiculo [visualizacion]="true"></app-vehiculo>
    </p-panel>
  </div>
</div>