<div class="ui-g">
  <div class="ui-g-10 ui-g-offset-1">
    <div class="ui-g">
      <div class="ui-g-12">
        <div *ngIf="!activarForm; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <p-button icon="pi pi-plus" label="Nuevo" styleClass="ui-button-primary" (onClick)="mostrarForm()" *ngIf="visualizacion"></p-button>
        </ng-template>
        <ng-template #elseBlock>
          <div class="ui-g">
            <div class="ui-g-6 ui-g-offset-3">
              <p-card header="Formulario">
                <form class="ui-g" #formLogin="ngForm" (ngSubmit)="submitGuardarVehiculo(formLogin)">
                  <div class="ui-g-12">
                    {{ temporalVehiculo.tipo | json }}
                    <div class="ui-inputgroup">
                      <select type="number" class="combobox" #tipo="ngModel" name="tipo" [(ngModel)]="temporalVehiculo.tipo" required>
                        <option *ngFor="let tipoVehiculo of listaTipoVehiculos" [ngValue]="tipoVehiculo">{{ tipoVehiculo.nombre }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="tipo.statusChanges && !tipo.valid">
                      <span *ngIf="tipo.errors.required">El tipo de vehículo es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-tag"></i></span>
                        <input type="text" pInputText placeholder="Marca" style="width: 100%;" #marca="ngModel" name="marca" [(ngModel)]="temporalVehiculo.marca" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="marca.touched && !marca.valid">
                      <span *ngIf="marca.errors.required">La marca es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-cloud"></i></span>
                        <input type="text" pInputText placeholder="Color" style="width: 100%;" #color="ngModel" name="color" [(ngModel)]="temporalVehiculo.color" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="color.touched && !color.valid">
                      <span *ngIf="color.errors.required">El color es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
                        <input type="text" pInputText placeholder="Placa" style="width: 100%;" #placa="ngModel" name="placa" [(ngModel)]="temporalVehiculo.placa" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="placa.touched && !placa.valid">
                      <span *ngIf="placa.errors.required">La placa es requerido.</span>
                  </div>
                  <section *ngIf="temporalVehiculo.tipo.id == 1">
                    <div class="ui-g-12">
                      <h4>Detalles de la Moto</h4>
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                          <input type="number" pInputText placeholder="Km de la moto" style="width: 100%;" #km="ngModel" name="km" [(ngModel)]="temporalVehiculo.km" required>          
                      </div>
                    </div>
                    <div class="ui-g-12" *ngIf="km.touched && !km.valid">
                        <span *ngIf="km.errors.required">El Km de la moto es requerido.</span>
                    </div>
                    <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                          <input type="number" pInputText placeholder="Tiempo de Uso" style="width: 100%;" #tiempo="ngModel" name="tiempo" [(ngModel)]="temporalVehiculo.tiempoUso" required>          
                      </div>
                    </div>
                    <div class="ui-g-12" *ngIf="tiempo.touched && !tiempo.valid">
                        <span *ngIf="tiempo.errors.required">El tiempo de uso es requerido.</span>
                    </div>
                    <div class="ui-g-12">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-cog"></i></span>
                          <input type="text" pInputText placeholder="Motor" style="width: 100%;" #motor="ngModel" name="motor" [(ngModel)]="temporalVehiculo.motor" required>          
                      </div>
                    </div>
                    <div class="ui-g-12" *ngIf="motor.touched && !motor.valid">
                        <span *ngIf="motor.errors.required">El motor es requerido.</span>
                    </div>
                  </section>
                  <div class="ui-g-12">
                    <h4>Datos del Propietario</h4>
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                        <input type="text" pInputText placeholder="Nombre" style="width: 100%;" #nombre="ngModel" name="nombre" [(ngModel)]="temporalVehiculo.propietario.nombre" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="nombre.touched && !nombre.valid">
                      <span *ngIf="nombre.errors.required">El nombre es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                        <input type="text" pInputText placeholder="Apellido" style="width: 100%;" #apellido="ngModel" name="apellido" [(ngModel)]="temporalVehiculo.propietario.apellido" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="apellido.touched && !apellido.valid">
                      <span *ngIf="apellido.errors.required">El apellido es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                        <input type="number" pInputText placeholder="Dni" style="width: 100%;" #dni="ngModel" name="dni" [(ngModel)]="temporalVehiculo.propietario.dni" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="dni.touched && !dni.valid">
                      <span *ngIf="dni.errors.required">El dni es requerido.</span>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-info"></i></span>
                        <input type="text" pInputText placeholder="N° de Licencia" style="width: 100%;" #licencia="ngModel" name="licencia" [(ngModel)]="temporalVehiculo.propietario.numLicencia" required>          
                    </div>
                  </div>
                  <div class="ui-g-12" *ngIf="licencia.touched && !licencia.valid">
                      <span *ngIf="licencia.errors.required">La licencia es requerido.</span>
                  </div>
                  <div class="ui-g-12 d-flex justify-content-end">
                    <button pButton type="submit" label="Guardar"></button>
                    <button pButton type="button" label="Cancelar" class="ml-1 ui-button-danger" (click)="ocultarForm()"></button>
                  </div>
                </form>
              </p-card>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <p-dataTable [value]="listaVehiculos" [immutable]="false" emptyMessage="No se encontraron registros">
          <p-column field="tipo.nombre" header="Tipo"></p-column>
          <p-column field="marca" header="Marca"></p-column>
          <p-column field="color" header="Color"></p-column>
          <p-column field="placa" header="Placa"></p-column>
          <p-column field="propietario.nombre" header="Propietario"></p-column>
          <p-column field="" header="Accion">
            <ng-template pTemplate="body" let-col let-IVehiculo="rowData" let-i="rowIndex">
              <p-button icon="pi pi-search" styleClass="ui-button-success" style="margin-right: 8px;" (onClick)="onClickVerVehiculo(IVehiculo)"></p-button>
              <p-button *ngIf="visualizacion" icon="pi pi-pencil" styleClass="ui-button-warning" style="margin-right: 8px;" (onClick)="onClickEditarVehiculo(IVehiculo,i)"></p-button>
              <p-button *ngIf="visualizacion" icon="pi pi-trash" styleClass="ui-button-danger" (onClick)="onClickEliminarVehiculo(i)"></p-button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Detalle de Vehiculo" [(visible)]="detalleModal" [responsive]="true" showEffect="fade" [modal]="true" width="500">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedVehiculo">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Tipo</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.tipo.nombre }}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Marca</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.marca }}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Color</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.color }}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Placa</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.placa }}</div>
        </div>
        <br>
        <section *ngIf="selectedVehiculo.tipo.id == 1">
          <h4>Detalles de la Moto</h4>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Km de moto</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.km }}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Tiempo de uso</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.tiempoUso }}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Motor</label></div>
            <div class="ui-grid-col-8">{{ selectedVehiculo.motor }}</div>
          </div>
        </section>
        <h4>Datos del Propietario</h4>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Nombre</label></div>
          <div class="ui-grid-col-8">{{ selectedVehiculo.propietario.nombre }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Apellido</label></div>
          <div class="ui-grid-col-8">{{ selectedVehiculo.propietario.apellido }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">Dni</label></div>
          <div class="ui-grid-col-8">{{ selectedVehiculo.propietario.dni }}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label class="label" style="font-weight: bold;">N° Licencia</label></div>
          <div class="ui-grid-col-8">{{ selectedVehiculo.propietario.numLicencia }}</div>
        </div>
    </div>
  </p-dialog>